{% extends "base.html.twig"  %}
{% set page = 'app' %}
{% block title %}{{ app.name }} - App - XIVAPI{% endblock %}

{% block body %}
<div class="two-pane">
    <aside>
        {% include 'app/nav.html.twig' %}
    </aside>
    <main class="nomax">

        {% if message %}<div class="alert alert-success">{{ message }}</div>{% endif %}

        <h1>
            {{ app.name }}
            <div class="fr">
                <a href="{{ path('app_delete', { id: app.id }) }}" class="btn btn-danger">DELETE APPLICATION</a>
            </div>
        </h1>

        <br>

        {% if app.isRestricted() %}
            <div class="alert alert-danger">
                Mass crawling detected, this key has been restricted.
                Please <a href="https://discord.gg/MFFVHWC">Join Discord</a> for help regarding this.
            </div>
        {% endif %}
        {% if app.isLimited() %}
            <div class="alert alert-warning">
                <strong>New Key!</strong><br>
                This key is limited to 2 requests per second. This restriction will be
                lifted: {{ (app.added+3600)|dateRelative }}
            </div>
        {% endif %}

        {# APP FORM #}
        {{ form_start(form) }}
        <table class="table table-bordered">
            <tr>
                <td>
                    <strong>API Key</strong>
                    <br><br>
                    <div>
                        <small><strong>Need a new key?</strong></small>
                    </div>
                    <a href="{{ path('app_regenerate', { id: app.id }) }}" class="btn btn-warning">Regenerate key</a>
                </td>
                <td>
                    <h3><code>{{ app.apiKey }}</code></h3>
                    <strong>Example usage:</strong>
                    <pre style="margin: 4px 0;"><code>$ curl https://xivapi.com/item/1675?key={{ app.apiKey }}</code></pre>
                    <a href="https://xivapi.com/item/1675?key={{ app.apiKey }}" target="_blank">https://xivapi.com/Item/1675?key={{ app.apiKey }}</a>
                </td>
            </tr>
            <tr>
                <td width="25%"><strong>Name</strong></td>
                <td>{{ form_row(form.name) }}</td>
            </tr>
            <tr>
                <td><strong>Description</strong></td>
                <td>{{ form_row(form.description) }}</td>
            </tr>
            <tr>
                <td><strong>Google Analytics ID</strong></td>
                <td>
                    {{ form_row(form.googleAnalyticsId) }}
                    <br>
                    <p>If you wish to track your app, enter your Google Analytics Tracking ID.</p>
                    <p><a href="https://analytics.google.com/analytics/web/?authuser=1#/" target="_blank">Open Google Analytics</a></p>
                </td>
            </tr>
            <tr>
                <td><strong>Rate Limit</strong></td>
                <td>
                    {{ app.apiRateLimit }} per second, burst: {{ (app.apiRateLimit*2) }} - 5 second cooldown
                    <div>
                        <small>Rate limit is per (hashed) IP request</small>
                    </div>
                    <div>
                        <small style="font-size: 13px;">
                            <strong>Need higher rate-limit?</strong>
                            Please jump on the <a href="https://discordapp.com/invite/MFFVHWC" target="_blank">discord server</a>
                            and give <strong>Vekien#3458</strong> a message.
                        </small>
                    </div>
                </td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td colspan="2" class="table-title">{{ form_row(form.save) }}</td>
            </tr>
        </table>
        {{ form_end(form) }}

        <br>

        {# GOOGLE ANALYTICS #}
        <h3>Google Analytics</h3>
        <br>

        <h5>Built-in Events</h5>
        <p>XIVAPI provides some built-in events for Google Analytics, these are:</p>

        <ol>
            <li>
                <h5 class="text-danger">Rate Limit Exception</h5>
                <p>Provides an incremental count of when your app is rate-limited. The label represents
                a MD5 hash of the client IP, you can use this to look at potential abusers of your app
                and blacklist any spam.</p>

                <table class="table table-sm table-bordered">
                    <thead>
                    <tr>
                        <th width="25%">Category</th>
                        <th width="25%">Action</th>
                        <th width="25%">Label</th>
                        <th width="25%">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Exceptions</td>
                        <td>ApiRateLimitException</td>
                        <td><code>md5(ip)</code></td>
                        <td>+1</td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </li>
            <li>
                <h5 class="text-danger">No Access Exception</h5>
                <p>Your app tried to access an endpoint that it does not have permissions to. The label
                shows the endpoint with the value being an incremental count.</p>

                <table class="table table-sm table-bordered">
                    <thead>
                    <tr>
                        <th width="25%">Category</th>
                        <th width="25%">Action</th>
                        <th width="25%">Label</th>
                        <th width="25%">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Exceptions</td>
                        <td>ApiRestrictedException</td>
                        <td><code>/[endpoint]</code></td>
                        <td>+1</td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </li>
            <li>
                <h5 class="text-danger">Service Error Exceptions</h5>
                <p>This is when the API returns an error, <strong>2 events are posted</strong>.</p>
                <p>
                    <span class="text-info">ApiServiceErrorException</span>: The error message as the label.<br>
                    <span class="text-info">ApiServiceCodeException</span>: The HTTP status code (eg 500, 429, etc)
                </p>
                <table class="table table-sm table-bordered">
                    <thead>
                    <tr>
                        <th width="25%">Category</th>
                        <th width="25%">Action</th>
                        <th width="25%">Label</th>
                        <th width="25%">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Exceptions</td>
                        <td>ApiServiceErrorException</td>
                        <td><code>[error message]</code></td>
                        <td>+1</td>
                    </tr>
                    <tr>
                        <td>Exceptions</td>
                        <td>ApiServiceCodeException</td>
                        <td><code>[http code]</code></td>
                        <td>+1</td>
                    </tr>
                    </tbody>
                </table>
                <br>
            </li>
        </ol>

    </main>
</div>

{% endblock %}
