<table class="table table-bordered">
    <thead>
    <tr>
        <th>Icon</th>
        <th>Name</th>
        <th>Key</th>
    </tr>
    </thead>
    {% for app in auth.user.apps %}
        <tr>
            <td width="1%" align="center">
                <img src="/img-misc/code-regular.svg" height="42">
            </td>
            <td>
                <a href="{{ path('app_manage', { id: app.id }) }}">{{ app.name }}</a>
                <div>
                    <small>{{ app.description }}</small>
                </div>
                <br>
                {% if app.isRestricted() %}
                    <div class="alert alert-danger">
                        Mass crawling detected, this key has been restricted.
                        Please <a href="https://discord.gg/MFFVHWC">Join Discord</a> for help regarding this.
                    </div>
                {% endif %}
                {% if app.isLimited() %}
                    <div class="alert alert-warning">
                        <strong>New Key!</strong><br>
                        This key is limited to 2 requests per second. This restriction will be
                        lifted: {{ (app.added+3600)|dateRelative }}
                    </div>
                {% endif %}
            </td>
            <td valign="center">
                <code style="font-size: 18px;">{{ app.apiKey }}</code>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="4">
                <div class="alert alert-info">
                    You have no API apps! <a href="{{ path('app_manage', { id: 'new' }) }}">Want to create one?</a>
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
