{% extends "base.html.twig"  %}
{% block title %}Statistics{% endblock %}

{% block body %}

    <div class="two-pane">

        <aside>
            <h3>Queue</h3>

            <span>
                <p>Rabbit MQ Stats</p>
            </span>

        </aside>

        <main class="stats">
            <h1>24-hour period statistics</h1>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Average Duration</h5>
                                <p class="card-text">
                                    <strong>{{ stats.average_duration|round(3) }}</strong><br><br>
                                    <small>The average time in seconds to process a lodestone request.</small>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Counts</h5>
                                <p class="card-text">
                                    <strong>{{ stats.counts.min|number_format }}</strong> past minute<br>
                                    <strong>{{ stats.counts.hr|number_format }}</strong> past hour<br>
                                    <strong>{{ stats.counts.day|number_format }}</strong> past day
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Requests/Second</h5>
                                <p class="card-text">
                                    <strong>{{ stats.request_stats.req_sec|round(3) }}</strong><br><br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Total Requests</h5>
                                <p class="card-text">
                                    <strong>{{ stats.request_stats.total|number_format }}</strong><br>
                                    <small>Between: {{ stats.request_stats.start_time|dateRelative }} - {{ stats.request_stats.finish_time|dateRelative }}</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2>Characters</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_add ?? 0 }}</strong> Add</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update ?? 0 }}</strong> Manual Update</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_0_normal ?? 0 }}</strong> Auto-Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_1_normal ?? 0 }}</strong> Auto-Update 2</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_2_normal ?? 0 }}</strong> Auto-Update 3</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_3_normal ?? 0 }}</strong> Auto-Update 4</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_4_normal ?? 0 }}</strong> Auto-Update 5</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_5_normal ?? 0 }}</strong> Auto-Update 6</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_0_patreon ?? 0 }}</strong> Patreon Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_1_patreon ?? 0 }}</strong> Patreon Update 2</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_0_low ?? 0 }}</strong> Low-Activity Check 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_update_1_low ?? 0 }}</strong> Low-Activity Check 2</li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h2>Friends Lists</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_friends_add ?? 0 }}</strong> Add</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_friends_update ?? 0 }}</strong> Manual Update</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_friends_update_0_normal ?? 0 }}</strong> Auto-Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_friends_update_1_normal ?? 0 }}</strong> Auto-Update 2</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_friends_update_0_patreon ?? 0 }}</strong> Patreon Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_friends_update_1_patreon ?? 0 }}</strong> Patreon Update 2</li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h2>Achievements</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_add ?? 0 }}</strong> Add</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_update ?? 0 }}</strong> Manual Update</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_update_0_normal ?? 0 }}</strong> Auto-Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_update_1_normal ?? 0 }}</strong> Auto-Update 2</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_update_2_normal ?? 0 }}</strong> Auto-Update 3</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_update_3_normal ?? 0 }}</strong> Auto-Update 4</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_update_4_normal ?? 0 }}</strong> Auto-Update 5</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_update_5_normal ?? 0 }}</strong> Auto-Update 6</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_update_0_patreon ?? 0 }}</strong> Patreon Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.character_achievements_update_1_patreon ?? 0 }}</strong> Patreon Update 2</li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h2>Free Company</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>{{ stats.queue_stats.free_company_add ?? 0 }}</strong> Add</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.free_company_update ?? 0 }}</strong> Manual Update</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.free_company_update_0_normal ?? 0 }}</strong> Auto-Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.free_company_update_1_normal ?? 0 }}</strong> Auto-Update 2</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.free_company_update_0_patron ?? 0 }}</strong> Patreon Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.free_company_update_1_patron ?? 0 }}</strong> Patreon Update 2</li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h2>Linkshells</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>{{ stats.queue_stats.linkshell_add ?? 0 }}</strong> Add</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.linkshell_update ?? 0 }}</strong> Manual Update</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.linkshell_update_0_normal ?? 0 }}</strong> Auto-Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.linkshell_update_1_normal ?? 0 }}</strong> Auto-Update 2</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.linkshell_update_0_patron ?? 0 }}</strong> Patreon Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.linkshell_update_1_patron ?? 0 }}</strong> Patreon Update 2</li>
                        </ul>
                    </div>
                    <div class="col-sm">
                        <h2>PVP Teams</h2>
                        <ul class="list-group">
                            <li class="list-group-item"><strong>{{ stats.queue_stats.pvp_team_add ?? 0 }}</strong> Add</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.pvp_team_update ?? 0 }}</strong> Mnaul Update</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.pvp_team_update_0_normal ?? 0 }}</strong> Auto-Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.pvp_team_update_1_normal ?? 0 }}</strong> Auto-Update 2</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.pvp_team_update_0_patron ?? 0 }}</strong> Patreon Update 1</li>
                            <li class="list-group-item"><strong>{{ stats.queue_stats.pvp_team_update_1_patron ?? 0 }}</strong> Patreon Update 2</li>
                        </ul>
                    </div>
                </div>
            </div>

            <br>

            <pre>{{ dump(stats) }}</pre>
        </main>

    </div>

{% endblock %}
