{% extends "base.html.twig"  %}
{% block title %}Statistics{% endblock %}

{% block body %}

    <div class="two-pane">

        <aside>
            <h3>Warden</h3>

            <a href="{{ path('statistics') }}">Statistics</a>
            <a href="#">Exceptions</a>
        </aside>

        <main class="stats">
            <h1>Statistics</h1>

            <p>
                Period: <strong>{{ report.start|dateRelative }}</strong>
                to <strong>{{ report.finish|dateRelative }}</strong>
            </p>

            {% if app %}
            <div class="card" style="border: solid 2px #ff4839;">
                <div class="card-body">

                    <h3><strong>App: {{ app.apiKey }}</strong></h3>
                    <br>

                    <table class="table table-bordered table-sm">
                        <tr>
                            <td width="20%"><strong>ID</strong></td>
                            <td>{{ app.id }}</td>
                        </tr>
                        <tr>
                            <td><strong>User</strong></td>
                            <td>
                                <code>{{ app.user.id }}</code><br>
                                Discord: {{ app.user.username }}<br>
                                Email: {{ app.user.email }}<br>
                                Banned: {{ app.user.banned ? 'Yes' : 'No' }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Information</strong></td>
                            <td>
                                <strong>{{ app.name }}</strong><br>
                                {{ app.description ?: 'No Description' }}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Level</strong></td>
                            <td>{{ app.level }}</td>
                        </tr>
                        <tr>
                            <td><strong>Rate Limit</strong></td>
                            <td>{{ app.apiRateLimit }} {{ app.limited ? '(Limited)' : '' }}</td>
                        </tr>
                        <tr>
                            <td>Restricted</td>
                            <td>{{ app.restricted ? 'Yes' : 'No' }}</td>
                        </tr>
                        <tr>
                            <td>Added</td>
                            <td>{{ app.added|dateRelative }}</td>
                        </tr>
                        <tr>
                            <td>Apps</td>
                            <td>
                                <table class="table table-bordered table-sm">
                                    <thead>
                                        <tr>
                                            <th>Key</th>
                                            <th>Name/Desc</th>
                                            <th>Added</th>
                                            <th>Rate Limit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for app in user.apps %}
                                        <tr>
                                            <td><a href="{{ path('statistics', { app: app.apiKey }) }}">{{ app.apiKey }}</a></td>
                                            <td width="30%"><strong>{{ app.name }}</strong><br>{{ app.description }}</td>
                                            <td>{{ app.added|dateRelative }}</td>
                                            <td>{{ app.apiRateLimit }} - {{ app.limited ? '(Limited)' : '' }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>

                    <!-- buttons -->
                    <div>
                        <form method="post" action="{{ path('statistics', { app: app.apiKey }) }}">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <label>Ban User</label>
                                        <select id="ban" name="ban" class="form-control">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <label>Restrict User</label>
                                        <select id="restrict" name="restrict" class="form-control">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                        <small>Cannot make any more apps on this account.</small>
                                    </div>
                                    <div class="col-sm">
                                        <label>App Rate Limit</label>
                                        <select id="ratelimit" name="ratelimit" class="form-control">
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="5">5</option>
                                            <option value="10" selected>10</option>
                                            <option value="20">20</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <label>Delete App</label>
                                        <select id="delete" name="delete" class="form-control">
                                            <option value="0">No</option>
                                            <option value="1">Yes</option>
                                        </select>
                                    </div>
                                    <div class="col-sm">
                                        <label>&nbsp;</label>
                                        <div class="form-row">
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- entries -->
                    <h3>Log Entries</h3>
                    <table class="table table-bordered table-sm">
                        <tbody>
                        {% for i, line in report.app_records %}
                            <tr>
                                <td width="1%">{{ (i+1) }}</td>
                                <td><code>{{ line }}</code></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            {% endif %}

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">{{ report.total }}</h3>
                                <p class="card-text">Page Hits</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">{{ report.ips|length }}</h3>
                                <p class="card-text">Unique Hits</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title">{{ report.duration }}</h3>
                                <p class="card-text">Avg Duration</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Endpoints</h2>
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                    <tr>
                        <th width="20%">Count</th>
                        <th>Endpoint</th>
                    </tr>
                </thead>
                <tbody>
                    {% for uri, count in report.uri %}
                    <tr>
                        <td>{{ count|number_format }}</td>
                        <td>{{ uri }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>

            <h2>IP</h2>
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                <tr>
                    <th width="20%">Count</th>
                    <th>IP</th>
                    <th>Avg Req/sec</th>
                </tr>
                </thead>
                <tbody>
                {% for ip, count in report.ips %}
                    <tr>
                        <td>{{ count|number_format }}</td>
                        <td>{{ ip }}</td>
                        <td>
                            {% set reqsec = report.ip_durations_avg[ip] ?? 0 %}
                            {{ reqsec }} &nbsp;&nbsp; {% if reqsec > 10 %}🚨 Warning{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h2>App Keys</h2>
            <table class="table table-bordered table-sm">
                <thead class="thead-dark">
                <tr>
                    <th width="20%">Count</th>
                    <th>Key</th>
                    <th>Avg Req/sec</th>
                </tr>
                </thead>
                <tbody>
                {% for key, count in report.keys %}
                    <tr>
                        <td>{{ count|number_format }}</td>
                        <td><a href="{{ path('statistics', { app: key }) }}">{{ key }}</a></td>
                        <td>
                            {% set reqsec = report.key_durations_avg[key] ?? 0 %}
                            {{ reqsec }} &nbsp;&nbsp; {% if reqsec > 10 %}🚨 Warning{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>

            <h3>Last 100 log lines</h3>
            <table class="table table-bordered table-sm">
                <tbody>
                {% for i, line in report.lines %}
                    <tr>
                        <td width="1%">{{ (i+1) }}</td>
                        <td><code>{{ line }}</code></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </main>
    </div>


{% endblock %}
