{% extends "base.html.twig"  %}
{% set page = 'docs' %}
{% block title %}Change Logs - XIVAPI{% endblock %}

{% block body %}
<div class="two-pane">
    <aside>
        {% include 'docs/nav.html.twig' %}
    </aside>
    <main class="doc-page">
        <div class="alert alert-secondary">
            <strong>DEPLOYED</strong><br>
            <code>
                v{{ siteVersion().version }}
                {{ siteVersion().hash }} -
                {{ siteVersion().time }}
            </code>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th width="50%">Production</th>
                    <th>Staging</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    {% for commit in commits.master %}
                        <div class="git-row">
                            {{ siteVersion().hash == commit.sha ? '<span class="badge badge-success">LIVE</span>' : '' }} {{ commit.commit.message }}
                            <div>
                                {{ commit.commit.committer.date|dateRelative }} -
                                <a href="{{ commit.commit.url }}" target="_blank">{{ commit.sha }}</a>
                            </div>
                        </div>
                    {% endfor %}
                    </td>
                    <td>
                        {% for commit in commits.staging %}
                            <div class="git-row">
                                {{ siteVersion().hash == commit.sha ? '<span class="badge badge-success">LIVE</span>' : '' }} {{ commit.commit.message }}
                                <div>
                                    {{ commit.commit.committer.date|dateRelative }} -
                                    <a href="{{ commit.commit.url }}" target="_blank">{{ commit.sha }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
    </main>
</div>
{% endblock %}
